*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#root{
	display: flex;
	justify-content: center;
}


.App{
	width: 800px;
}

.post{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	padding: 15px;
	border: 2px solid teal;
	align-items: center;
}